.test{
	height: 93px; // master change 4
	height: 94px; // rebase change 3
	height: 95px; // master change 3
	height: 96px; // rebase change 2
	height: 97px; // master change 2
	height: 98px; // rebase change 1
	height: 99px; // master change 1
}	